/node_modules/*/**
/idea/*
/node_modules/
/.idea/cody_project_settings.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/jsLinters/eslint.xml
/.idea/prettier.xml
